<h2>Welcome! Here are all the words in your personal dictionary. Click on a word to learn more or add to its definitions. Use the form below to add new words to your dictionary.</h2>

<h3> Your words: </h3>

<ul>
  <% @words.each() do |word| %>
    <li><a href="/<%= word.id() %>"><%= word.name() %></a></li>
  <% end %>
<ul>

<h2>Add a new word to your dictionary:</h2>

<form action="/word" method="post">
  <label for="word_name">What word do you want to add?</label>
  <input name="word_name" type="text" id="word-name">

  <button type="submit" id="add_word">Add Word</button>
</form>
