<!DOCTYPE html>
<html>
  <head>
    <title>Dictionary</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="css/styles.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Personal Dictionary</h1>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
    </div>
  </body>
<html>
