<!DOCTYPE html>
<html>
  <head>
    <title>Dictionary</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles.css"
  </head>
  <body>
    <div class="jumbotron">
      <h1>Personal Dictionary</h1>
    </div>
    <div class="container">
      <% yield %>
    </div>
  </body>
<html>
